goboard-main-backups
goboard-numpad-backups
*.swp
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
_autosave-*
firmware/3rdparty/nrf5-sdk
firmware/main/build
firmware/main/build_testing
firmware/main/documentation/html
firmware/main-rust/target
firmware/main-rust/keyboard/target
firmware/main-rust/app/target
.gdb_history

# ignore kicad bom files and associated files:
goboard-numpad.csv
goboard-numpad.xml
goboard-main.csv
goboard-main.xml
