/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "Goboard (main keyboard) NRF52840";
	compatible = "nordic,goboard-main-nrf52840";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	aliases {
		caps-lock-led = &led0;
		scroll-lock-led = &led1;
		mode-pwm-led = &led2;
		modesw0 = &button0;
		modesw1 = &button1;
	};


	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 33 0>;
			label = "Caps Lock LED";
		};
		led1: led_1 {
			gpios = <&gpio0 34 0>;
			label = "Scroll Lock LED";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		led2: pwm_led_0 {
			pwms = <&pwm0 35>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 9 0>;
			label = "Mode switch (profile 1)";
		};
		button1: button_1 {
			gpios = <&gpio0 10 0>;
			label = "Mode switch (profile 2)";
		};
	};

	powersupply {
		compatible = "power-supply";
		io-channels = <&adc 0>, <&adc 7>;
		vbatt-output-ohms = <100000>;
		vbatt-full-ohms = <(100000 + 100000)>;
		vbatt-power-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
		charge-gpios = <&gpio0 28 0>;
		discharge-low-gpios = <&gpio0 43 0>;
		discharge-high-gpios = <&gpio0 45 GPIO_ACTIVE_LOW>;
		usb-connected-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
	};

	keymatrix {
		compatible = "key-matrix";
		spi = <&spi1>;
		power-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		store-gpios = <&gpio0 12 0>;
		load-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&pwm0 {
	status = "okay";
	ch0-pin = <35>;
};

&uart0 {
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	status = "okay";
	tx-pin = <41>;
};

&uart1 {
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	status = "okay";
	tx-pin = <19>;
	rx-pin = <21>;
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <32>;
	mosi-pin = <5>;
	miso-pin = <4>;
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x0000C000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x00067000>;
		};
		slot1_partition: partition@73000 {
			label = "image-1";
			reg = <0x00073000 0x00067000>;
		};
		scratch_partition: partition@da000 {
			label = "image-scratch";
			reg = <0x000da000 0x0001e000>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};

&usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};

